*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 10px;
  font-family: "Roboto";
  background-color: brown;
}
.search-box {
  width: 300px;
  margin: auto;
}
.logo {
  font-family: "MedievalSharp";
  font-weight: bolder;
  font-size: 1.7em;
}
.search-result {
  padding: 10px;
  width: 300px;
  margin: 10px;
  border: black;
  border-style: solid;
}
.single-result {
  padding: 10px;
  width: 200px;
  margin: 10px;
  border: black;
  border-style: solid;
}
.results-box {
  margin: auto;
  margin-top: 30px;
  width: 660px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-family: inherit;
}
.concentration {
  background: blue;
  color: white;
}
