*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --speed: 500ms;
}
body {
  padding: 10px;
  font-family: "Roboto";
  background-color: brown;
  max-width: 95vw;
}
h2 {
  margin-top: 0px;
}
select {
  margin-right: 10px;
}
.search-box {
  width: 350px;
  margin: auto;
}
.logo {
  font-family: "MedievalSharp";
  font-weight: bolder;
  font-size: 1.7em;
}
.search-result {
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  margin: 10px;
  border: black;
  border-style: solid;
  background: rgb(204, 204, 204);
}
.single-result {
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin: 10px;
  border: black;
  border-style: solid;
  transition: filter var(--speed);
  background-color: brown;
  text-align: center;
}
.single-result:hover {
  filter: brightness(1.2);
}
.results-box {
  position: relative;
  margin: auto;
  margin-top: 30px;
  width: 660px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 95vw;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-family: inherit;
}
.concentration {
  background: rgb(0, 0, 161);
  color: white;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.spellLevel {
  position: absolute;
  right: 143px;
  top: 0;
  font-size: larger;
  font-weight: bolder;
}
.grow {
  position: fixed;
  width: 95%;
  height: 95%;
  top: 0;
  left: 0;
  font-size: larger;
  z-index: 3;
}
.spellLevelGrow {
  right: 50px;
  font-size: 35px;
}
.animation-enter {
  transform: scale(0.5);
  filter: opacity(0);
}
.animation-enter-active {
  transform: scale(1);
  filter: opacity(1);
  transition: all var(--speed) ease;
}
.animation-exit {
  transform: scale(1);
  filter: opacity(1);
}
.animation-exit-active {
  transform: scale(0.5);
  filter: opacity(0);
  transition: all var(--speed) ease;
}

.logo-img {
  transform-origin: 25% 50%;
  animation: logoMoveIn linear 1s;
  margin-left: 25px;
}

@keyframes logoMoveIn {
  0% {
    opacity: 0;
    transform: translateX(300px) rotateZ(30deg);
  }
  75% {
    transform: translateX(-20px) rotateZ(-20deg);
    opacity: 100%;
  }
  100% {
    transform: translate(0) rotate(0);
  }
}
