*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --speed: 500ms;
}
body {
  padding: 10px;
  font-family: "Roboto";
  background-color: brown;
}
h2 {
  margin-top: 0px;
}
select {
  margin-right: 10px;
}
.search-box {
  width: 350px;
  margin: auto;
}
.logo {
  font-family: "MedievalSharp";
  font-weight: bolder;
  font-size: 1.7em;
}
.search-result {
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  margin: 10px;
  border: black;
  border-style: solid;
}
.single-result {
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin: 10px;
  border: black;
  border-style: solid;
  transition: filter var(--speed);
  background-color: brown;
}
.single-result:hover {
  filter: brightness(1.2);
}
.results-box {
  position: relative;
  margin: auto;
  margin-top: 30px;
  width: 660px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-family: inherit;
}
.concentration {
  background: blue;
  color: white;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spellLevel {
  position: absolute;
  right: 143px;
  top: 0;
  font-size: larger;
  font-weight: bolder;
}
.animation-enter {
  transform: scale(0.5);
  filter: opacity(0);
}
.animation-enter-active {
  transform: scale(1);
  filter: opacity(1);
  transition: all var(--speed) ease;
}
.animation-exit {
  transform: scale(1);
  filter: opacity(1);
}
.animation-exit-active {
  transform: scale(0.5);
  filter: opacity(0);
  transition: all var(--speed) ease;
}
